html,body{
  height: 100%;
  width: 100%;
  padding: 0%;
  margin:0%;
   
}
#main-doc{
  height:20%; 
  padding:5px;
  margin:5px;
  position:fixed; 
}
#main{
  display:-webkit-box;
  -webkit-box-orient: horizontal;
  height:100%;
  width:30%;
}
#nav-bar{
  height: 100%;
  width:20%;
  padding:5px;
  position: fixed;
  height: 80%;
  left:0;
  top:0; 
border-right-style: solid;
   border-left-style:solid;

}
#content{
  width:70%;
  height:fit-content ;
  padding:5px;
  margin-left:290px;  
}
#nav-link li{
  margin:20px;
  list-style: none;
  width: inherit;
}
#nav-link a{
  height: 100%;
  color:gray;
  padding: 5px 10px;
  text-decoration:none; 
}
html{
  scroll-behavior: smooth;
}